node_modules/
dist/
build/
.env
serviceAccountKey.json
*.log
.DS_Store
.idea/
.vscode/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
android/app/debug/
android/app/profile/
android/app/release/
